span.miicard-verified {
  background: url(images/miicard_check_inline.png) no-repeat transparent;
  display: inline-block;
  height: 16px;
  width: 36px;
  text-indent: -9999px;
}

a.miicard-login-button {
  background: url(images/miicard_login.png) no-repeat transparent;
  display: inline-block;
  width: 192px;
  height: 38px;
  text-indent: -9999px;
}

a.miicard-verify-button {
  background: url(images/miicard_verify.png) no-repeat transparent;
  display: inline-block;
  width: 192px;
  height: 38px;
  text-indent: -9999px;
}
